<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.yeti.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login">
    <h3>Login</h3>
    <form action="" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="email" class="form-control" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <div class="alert alert-danger" role="alert" id="if-incorrect">
        <b>Incorrect Credentials.</b> Your username and password did not match our database.
    </div>
</div>

<script>
    if (window.location.search == "?incorrect=true")
        document.getElementById('if-incorrect').style.display = 'block';
</script>
</body>
</html>
